.light {
  --body-color: deepskyblue;
  --header-color: coral;
  --header-border: black;
  --button-color: lightgoldenrodyellow;
  --box-bgColor: lightseagreen;
  --box-border: darkorange;
  --favorites-bgColor: lightcyan;
  --favorites-color: mediumslateblue;
  --favHover-color: beige;
  --favHover-bgColor: darkslategray;
  --forecast-border: beige;
  --forecast-bgColor: grey;
}

.dark {
  --body-color: rgb(5, 11, 44);
  --header-color: dimgrey;
  --header-border: blanchedalmond;
  --button-color: lightpink;
  --box-border: beige;
  --box-bgColor: darkgrey;
  --favorites-bgColor: darkcyan;
  --favorites-color: lightcoral;
  --favHover-color: darkred;
  --favHover-bgColor: lightgrey;
  --forecast-border: rgb(23, 37, 27);
  --forecast-bgColor: lightsalmon;
}

body {
  font-size: 15px;
  background-color: var(--body-color);
}

header {
  display: flex;
  background-color: var(--header-color);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 2px var(--header-border) solid;
  justify-content: space-between;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

header div,
.bt {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--header-border);
}

.bt {
  background-color: var(--button-color);
  border-radius: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.box {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--box-bgColor);
  width: 555px;
  border: 3px var(--box-border) groove;
  color: azure;
  font-weight: bold;
}

.weather {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.heart {
  font-size: 2rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  gap: 0.2rem;
}

.forecast {
  border: 3px var(--forecast-border) dashed;
  background-color: var(--forecast-bgColor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  gap: 1rem;
}

.favorites {
  border: 3px rgb(145, 56, 105) solid;
  height: 11rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--favorites-bgColor);
  color: var(--favorites-color);
  font-size: 1.5rem;
  font-weight: bold;
  gap: 0.5rem;
  text-align: center;
}

.favorites:hover {
  color: var(--favHover-color);
  background-color: var(--favHover-bgColor);
}

.searchResults {
  border: 3px rgb(179, 111, 34) solid;
  margin-top: 0.1rem;
  background-color: aliceblue;
  width: 40%;
  position: absolute;
  left: 30%;
}

.result {
  border-bottom: 1px black solid;
  list-style: none;
  cursor: pointer;
}

.result:hover {
  color: aliceblue;
  background-color: firebrick;
  font-weight: bold;
}

@media (max-width: 600px) {
  .box {
    width: 80%;
  }
}

@media (max-width: 380px) {
  .searchResults {
    width: 70%;
    left: 15%;
  }

  .favorites {
    height: 9rem;
    font-size: 1.2rem;
  }

  header div,
  .bt {
    font-size: 1rem;
  }
}
